@charset "UTF-8";
/* Fichier principal qui va importer les autres fihiers .sass
 *  Structure 7 - 1 = un fichier qui gère 7 dossiers.
 *
 *  L'orde des imports : 
 *  - base
 *  - vendors
 *  - pages
 *  - themes
 *  - layout
 *  - components
 *  */
* {
  margin: 0;
}

@keyframes animation-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* TAILLE DES PLANETES
 *  // taille de la terre c'est 100px de diamètre
 *  // calculer la taille des autres : 
 *  // mercure : 2.6 plus petite
 *  // venus : 1.1 plus petite
 *  // mars : 1.9 plus petite 
 *  // jupiter : 11 plus groise
 *  // saturne : 9.1 plus groise
 *  // uranus : 4 plus groise
 *  // neptune : 3.9 plus groise
 *
 * */
.galaxy {
  background-color: black;
  position: relative;
  overflow-x: hidden;
}
.galaxy__planets-container {
  overflow: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  gap: 20px;
  padding-left: calc(50vw - 76px);
  position: relative;
  z-index: 1;
}
.galaxy__stars-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
}

.satellite, .satellite--deimos, .satellite--phobos, .satellite--moon {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%;
  color: red;
}
.satellite--moon {
  background-color: grey;
  transform-origin: 50% calc(50% + 20px);
  animation: animation-rotate 8s linear infinite;
}
.satellite--phobos {
  background-color: white;
  transform-origin: 50% calc(50% + 10.5263157895px);
  animation: animation-rotate 8s linear infinite;
}
.satellite--deimos {
  background-color: orange;
  transform-origin: 50% calc(50% + 10.5263157895px);
  animation: animation-rotate 6s linear infinite;
}

.planet--mercury {
  position: relative;
  transform-origin: -96px calc(15.3846153846px/2);
  animation: animation-rotate 20s linear infinite;
  border-radius: 100%;
  width: 15.3846153846px;
  height: 15.3846153846px;
  background-image: url("../images/mercury.svg");
  flex-shrink: 0;
}
.planet--venus {
  position: relative;
  transform-origin: -131.3846153846px calc(36.3636363636px/2);
  animation: animation-rotate 23s linear infinite;
  border-radius: 100%;
  width: 36.3636363636px;
  height: 36.3636363636px;
  background-image: url("../images/venus.svg");
  flex-shrink: 0;
}
.planet--earth {
  position: relative;
  transform-origin: -187.7482517483px calc(40px/2);
  animation: animation-rotate 26s linear infinite;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-image: url("../images/earth.svg");
  flex-shrink: 0;
}
.planet--mars {
  position: relative;
  transform-origin: -247.7482517483px calc(21.0526315789px/2);
  animation: animation-rotate 29s linear infinite;
  border-radius: 100%;
  width: 21.0526315789px;
  height: 21.0526315789px;
  background-image: url("../images/mars.svg");
  flex-shrink: 0;
}
.planet--jupiter {
  position: relative;
  transform-origin: -288.8008833272px calc(80px/2);
  animation: animation-rotate 32s linear infinite;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background-image: url("../images/jupiter.svg");
  flex-shrink: 0;
}
.planet--saturne {
  position: relative;
  transform-origin: -388.8008833272px calc(60px/2);
  animation: animation-rotate 35s linear infinite;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background-image: url("../images/saturne.svg");
  flex-shrink: 0;
  border-radius: 0;
}
.planet--uranus {
  position: relative;
  transform-origin: -468.8008833272px calc(48px/2);
  animation: animation-rotate 38s linear infinite;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  background-image: url("../images/uranus.svg");
  flex-shrink: 0;
  border-radius: 0;
}
.planet--neptune {
  position: relative;
  transform-origin: -536.8008833272px calc(40px/2);
  animation: animation-rotate 41s linear infinite;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-image: url("../images/neptune.svg");
  flex-shrink: 0;
}

.sun {
  border-radius: 100%;
  width: 152px;
  height: 152px;
  background-image: url("../images/sun.svg");
  flex-shrink: 0;
  animation: animation-rotate 60s linear infinite;
}

.star {
  height: 30px;
  width: 30px;
}
.star:nth-child(1) {
  position: absolute;
  top: 84%;
  left: 61%;
  rotate: 12deg;
  filter: blur(3px);
}
.star:nth-child(2) {
  position: absolute;
  top: 51%;
  left: 82%;
  rotate: 151deg;
  filter: blur(4px);
}
.star:nth-child(3) {
  position: absolute;
  top: 88%;
  left: 90%;
  rotate: 262deg;
  filter: blur(1px);
}
.star:nth-child(4) {
  position: absolute;
  top: 62%;
  left: 62%;
  rotate: 307deg;
  filter: blur(5px);
}
.star:nth-child(5) {
  position: absolute;
  top: 19%;
  left: 70%;
  rotate: 302deg;
  filter: blur(4px);
}
.star:nth-child(6) {
  position: absolute;
  top: 82%;
  left: 21%;
  rotate: 253deg;
  filter: blur(3px);
}
.star:nth-child(7) {
  position: absolute;
  top: 93%;
  left: 49%;
  rotate: 112deg;
  filter: blur(3px);
}
.star:nth-child(8) {
  position: absolute;
  top: 45%;
  left: 89%;
  rotate: 84deg;
  filter: blur(4px);
}
.star:nth-child(9) {
  position: absolute;
  top: 38%;
  left: 9%;
  rotate: 282deg;
  filter: blur(5px);
}
.star:nth-child(10) {
  position: absolute;
  top: 16%;
  left: 38%;
  rotate: 107deg;
  filter: blur(1px);
}
.star:nth-child(11) {
  position: absolute;
  top: 18%;
  left: 34%;
  rotate: 163deg;
  filter: blur(5px);
}
.star:nth-child(12) {
  position: absolute;
  top: 88%;
  left: 92%;
  rotate: 60deg;
  filter: blur(2px);
}
.star:nth-child(13) {
  position: absolute;
  top: 41%;
  left: 67%;
  rotate: 235deg;
  filter: blur(2px);
}
.star:nth-child(14) {
  position: absolute;
  top: 49%;
  left: 86%;
  rotate: 328deg;
  filter: blur(3px);
}
.star:nth-child(15) {
  position: absolute;
  top: 93%;
  left: 31%;
  rotate: 81deg;
  filter: blur(2px);
}
.star:nth-child(16) {
  position: absolute;
  top: 84%;
  left: 76%;
  rotate: 224deg;
  filter: blur(2px);
}
.star:nth-child(17) {
  position: absolute;
  top: 9%;
  left: 68%;
  rotate: 64deg;
  filter: blur(2px);
}
.star:nth-child(18) {
  position: absolute;
  top: 2%;
  left: 64%;
  rotate: 106deg;
  filter: blur(2px);
}
.star:nth-child(19) {
  position: absolute;
  top: 63%;
  left: 56%;
  rotate: 344deg;
  filter: blur(4px);
}
.star:nth-child(20) {
  position: absolute;
  top: 58%;
  left: 46%;
  rotate: 214deg;
  filter: blur(4px);
}
.star:nth-child(21) {
  position: absolute;
  top: 40%;
  left: 56%;
  rotate: 200deg;
  filter: blur(5px);
}
.star:nth-child(22) {
  position: absolute;
  top: 93%;
  left: 19%;
  rotate: 69deg;
  filter: blur(2px);
}
.star:nth-child(23) {
  position: absolute;
  top: 86%;
  left: 70%;
  rotate: 291deg;
  filter: blur(1px);
}
.star:nth-child(24) {
  position: absolute;
  top: 53%;
  left: 6%;
  rotate: 259deg;
  filter: blur(5px);
}
.star:nth-child(25) {
  position: absolute;
  top: 69%;
  left: 78%;
  rotate: 215deg;
  filter: blur(2px);
}
.star:nth-child(26) {
  position: absolute;
  top: 60%;
  left: 93%;
  rotate: 270deg;
  filter: blur(1px);
}
.star:nth-child(27) {
  position: absolute;
  top: 69%;
  left: 22%;
  rotate: 324deg;
  filter: blur(2px);
}
.star:nth-child(28) {
  position: absolute;
  top: 49%;
  left: 10%;
  rotate: 114deg;
  filter: blur(3px);
}
.star:nth-child(29) {
  position: absolute;
  top: 32%;
  left: 75%;
  rotate: 111deg;
  filter: blur(1px);
}
.star:nth-child(30) {
  position: absolute;
  top: 78%;
  left: 2%;
  rotate: 142deg;
  filter: blur(5px);
}
.star:nth-child(31) {
  position: absolute;
  top: 51%;
  left: 63%;
  rotate: 45deg;
  filter: blur(1px);
}
.star:nth-child(32) {
  position: absolute;
  top: 47%;
  left: 5%;
  rotate: 152deg;
  filter: blur(2px);
}
.star:nth-child(33) {
  position: absolute;
  top: 94%;
  left: 65%;
  rotate: 145deg;
  filter: blur(5px);
}
.star:nth-child(34) {
  position: absolute;
  top: 43%;
  left: 44%;
  rotate: 284deg;
  filter: blur(1px);
}
.star:nth-child(35) {
  position: absolute;
  top: 71%;
  left: 32%;
  rotate: 209deg;
  filter: blur(2px);
}
.star:nth-child(36) {
  position: absolute;
  top: 40%;
  left: 62%;
  rotate: 296deg;
  filter: blur(3px);
}
.star:nth-child(37) {
  position: absolute;
  top: 43%;
  left: 37%;
  rotate: 274deg;
  filter: blur(2px);
}
.star:nth-child(38) {
  position: absolute;
  top: 79%;
  left: 68%;
  rotate: 29deg;
  filter: blur(1px);
}
.star:nth-child(39) {
  position: absolute;
  top: 20%;
  left: 72%;
  rotate: 87deg;
  filter: blur(1px);
}
.star:nth-child(40) {
  position: absolute;
  top: 16%;
  left: 81%;
  rotate: 129deg;
  filter: blur(5px);
}
.star:nth-child(41) {
  position: absolute;
  top: 76%;
  left: 3%;
  rotate: 355deg;
  filter: blur(4px);
}
.star:nth-child(42) {
  position: absolute;
  top: 50%;
  left: 14%;
  rotate: 35deg;
  filter: blur(3px);
}
.star:nth-child(43) {
  position: absolute;
  top: 45%;
  left: 82%;
  rotate: 208deg;
  filter: blur(1px);
}
.star:nth-child(44) {
  position: absolute;
  top: 31%;
  left: 50%;
  rotate: 54deg;
  filter: blur(4px);
}
.star:nth-child(45) {
  position: absolute;
  top: 86%;
  left: 91%;
  rotate: 311deg;
  filter: blur(5px);
}
.star:nth-child(46) {
  position: absolute;
  top: 17%;
  left: 66%;
  rotate: 285deg;
  filter: blur(3px);
}
.star:nth-child(47) {
  position: absolute;
  top: 43%;
  left: 94%;
  rotate: 164deg;
  filter: blur(3px);
}
.star:nth-child(48) {
  position: absolute;
  top: 68%;
  left: 56%;
  rotate: 143deg;
  filter: blur(1px);
}
.star:nth-child(49) {
  position: absolute;
  top: 8%;
  left: 55%;
  rotate: 240deg;
  filter: blur(4px);
}
.star:nth-child(50) {
  position: absolute;
  top: 36%;
  left: 56%;
  rotate: 339deg;
  filter: blur(4px);
}
.star:nth-child(51) {
  position: absolute;
  top: 16%;
  left: 94%;
  rotate: 343deg;
  filter: blur(1px);
}
.star:nth-child(52) {
  position: absolute;
  top: 47%;
  left: 2%;
  rotate: 236deg;
  filter: blur(5px);
}
.star:nth-child(53) {
  position: absolute;
  top: 26%;
  left: 86%;
  rotate: 295deg;
  filter: blur(2px);
}
.star:nth-child(54) {
  position: absolute;
  top: 32%;
  left: 48%;
  rotate: 330deg;
  filter: blur(2px);
}
.star:nth-child(55) {
  position: absolute;
  top: 75%;
  left: 9%;
  rotate: 5deg;
  filter: blur(2px);
}
.star:nth-child(56) {
  position: absolute;
  top: 36%;
  left: 75%;
  rotate: 218deg;
  filter: blur(1px);
}
.star:nth-child(57) {
  position: absolute;
  top: 83%;
  left: 13%;
  rotate: 115deg;
  filter: blur(1px);
}
.star:nth-child(58) {
  position: absolute;
  top: 88%;
  left: 64%;
  rotate: 280deg;
  filter: blur(3px);
}
.star:nth-child(59) {
  position: absolute;
  top: 42%;
  left: 54%;
  rotate: 10deg;
  filter: blur(4px);
}
.star:nth-child(60) {
  position: absolute;
  top: 58%;
  left: 12%;
  rotate: 135deg;
  filter: blur(2px);
}
.star:nth-child(61) {
  position: absolute;
  top: 25%;
  left: 82%;
  rotate: 145deg;
  filter: blur(5px);
}
.star:nth-child(62) {
  position: absolute;
  top: 28%;
  left: 92%;
  rotate: 350deg;
  filter: blur(1px);
}
.star:nth-child(63) {
  position: absolute;
  top: 71%;
  left: 84%;
  rotate: 126deg;
  filter: blur(5px);
}
.star:nth-child(64) {
  position: absolute;
  top: 70%;
  left: 5%;
  rotate: 41deg;
  filter: blur(5px);
}
.star:nth-child(65) {
  position: absolute;
  top: 53%;
  left: 27%;
  rotate: 293deg;
  filter: blur(5px);
}
.star:nth-child(66) {
  position: absolute;
  top: 1%;
  left: 59%;
  rotate: 164deg;
  filter: blur(1px);
}
.star:nth-child(67) {
  position: absolute;
  top: 69%;
  left: 12%;
  rotate: 6deg;
  filter: blur(4px);
}
.star:nth-child(68) {
  position: absolute;
  top: 12%;
  left: 94%;
  rotate: 145deg;
  filter: blur(2px);
}
.star:nth-child(69) {
  position: absolute;
  top: 63%;
  left: 52%;
  rotate: 342deg;
  filter: blur(1px);
}
.star:nth-child(70) {
  position: absolute;
  top: 16%;
  left: 20%;
  rotate: 113deg;
  filter: blur(5px);
}
.star:nth-child(71) {
  position: absolute;
  top: 61%;
  left: 82%;
  rotate: 78deg;
  filter: blur(2px);
}
.star:nth-child(72) {
  position: absolute;
  top: 38%;
  left: 5%;
  rotate: 171deg;
  filter: blur(1px);
}
.star:nth-child(73) {
  position: absolute;
  top: 1%;
  left: 92%;
  rotate: 90deg;
  filter: blur(4px);
}
.star:nth-child(74) {
  position: absolute;
  top: 44%;
  left: 26%;
  rotate: 303deg;
  filter: blur(3px);
}
.star:nth-child(75) {
  position: absolute;
  top: 87%;
  left: 26%;
  rotate: 242deg;
  filter: blur(4px);
}
.star:nth-child(76) {
  position: absolute;
  top: 35%;
  left: 26%;
  rotate: 31deg;
  filter: blur(5px);
}
.star:nth-child(77) {
  position: absolute;
  top: 16%;
  left: 45%;
  rotate: 186deg;
  filter: blur(3px);
}
.star:nth-child(78) {
  position: absolute;
  top: 80%;
  left: 70%;
  rotate: 21deg;
  filter: blur(2px);
}
.star:nth-child(79) {
  position: absolute;
  top: 44%;
  left: 44%;
  rotate: 49deg;
  filter: blur(2px);
}
.star:nth-child(80) {
  position: absolute;
  top: 31%;
  left: 69%;
  rotate: 328deg;
  filter: blur(3px);
}
.star:nth-child(81) {
  position: absolute;
  top: 32%;
  left: 39%;
  rotate: 141deg;
  filter: blur(3px);
}
.star:nth-child(82) {
  position: absolute;
  top: 95%;
  left: 19%;
  rotate: 68deg;
  filter: blur(2px);
}
.star:nth-child(83) {
  position: absolute;
  top: 8%;
  left: 57%;
  rotate: 32deg;
  filter: blur(4px);
}
.star:nth-child(84) {
  position: absolute;
  top: 72%;
  left: 65%;
  rotate: 302deg;
  filter: blur(1px);
}
.star:nth-child(85) {
  position: absolute;
  top: 78%;
  left: 73%;
  rotate: 149deg;
  filter: blur(4px);
}
.star:nth-child(86) {
  position: absolute;
  top: 5%;
  left: 7%;
  rotate: 337deg;
  filter: blur(3px);
}
.star:nth-child(87) {
  position: absolute;
  top: 40%;
  left: 72%;
  rotate: 212deg;
  filter: blur(4px);
}
.star:nth-child(88) {
  position: absolute;
  top: 22%;
  left: 68%;
  rotate: 83deg;
  filter: blur(2px);
}
.star:nth-child(89) {
  position: absolute;
  top: 80%;
  left: 95%;
  rotate: 251deg;
  filter: blur(3px);
}
.star:nth-child(90) {
  position: absolute;
  top: 39%;
  left: 28%;
  rotate: 136deg;
  filter: blur(1px);
}
.star:nth-child(91) {
  position: absolute;
  top: 14%;
  left: 44%;
  rotate: 208deg;
  filter: blur(3px);
}
.star:nth-child(92) {
  position: absolute;
  top: 80%;
  left: 62%;
  rotate: 86deg;
  filter: blur(5px);
}
.star:nth-child(93) {
  position: absolute;
  top: 26%;
  left: 36%;
  rotate: 254deg;
  filter: blur(5px);
}
.star:nth-child(94) {
  position: absolute;
  top: 36%;
  left: 14%;
  rotate: 174deg;
  filter: blur(1px);
}
.star:nth-child(95) {
  position: absolute;
  top: 41%;
  left: 12%;
  rotate: 355deg;
  filter: blur(2px);
}
.star:nth-child(96) {
  position: absolute;
  top: 45%;
  left: 81%;
  rotate: 89deg;
  filter: blur(1px);
}
.star:nth-child(97) {
  position: absolute;
  top: 8%;
  left: 69%;
  rotate: 134deg;
  filter: blur(2px);
}
.star:nth-child(98) {
  position: absolute;
  top: 52%;
  left: 48%;
  rotate: 243deg;
  filter: blur(1px);
}
.star:nth-child(99) {
  position: absolute;
  top: 22%;
  left: 60%;
  rotate: 174deg;
  filter: blur(4px);
}
.star:nth-child(100) {
  position: absolute;
  top: 53%;
  left: 70%;
  rotate: 334deg;
  filter: blur(3px);
}/*# sourceMappingURL=main.css.map */